@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: #000;
  --pri-color: #779fed;
  --sec-color: #850753;
  --main-color: #f783a6;
  --text-color: #ffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 60%;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", serif;
  align-items: center;
  padding: 2rem 3rem;
  z-index: 5;

  background-color: var(--bg-color);
}
.logo {
  font-size: 25px;
  color: var(--text-color);
  font-weight: 800;
  transition: 0.4s ease;
  position: relative;
  padding: 0.6rem;
  font-family: "Oleo Script", serif;
}
.logo span {
  color: var(--pri-color);
  font-family: "pacifico", serif;
}

.logo:hover {
  color: var(--text-color);
  text-shadow: 0 0 25px var(--pri-color), 0 0 50px var(--pri-color);
  transform: scale(1, 1);
  transition: 0.4s ease-in-out;
}

.logo ::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 50px;
  background-color: var(--pri-color);
  top: 50px;
  left: 5px;
}
.logo ::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 20px;
  background-color: var(--pri-color);
  top: 50px;
  left: 5px;
  margin-top: 5px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 15rem;
  /* flex-wrap: wrap; */
}
.nav-bar a {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
  font-family: inherit;
}
.nav-bar li {
  list-style-type: none;
}

.nav-bar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.nav-bar a:active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.nav-bar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

/*section*/
.container {
  max-width: 100%;
}

.home {
  top: 70px;
  display: flex;
  position: relative;
  padding: 30px 10% 0;
  font-family: inherit;
  font-size: 1.4rem;
  min-height: 75vh;
  color: var(--text-color);
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.home-img {
  max-width: 39rem;
  max-height: 59vh;
  flex: 0 0 40%;
  padding: 1px;
  /* margin-top: 5rem; */
}
.home-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  border-radius: 50%;

  box-shadow: 0 0 15px gray, 0 0 15px gray;
  /* border: 1px solid var(--text-color); */
  /* outline: 1px solid var(--main-color); */
}

.row {
  display: flex;
  position: relative;
  margin: 1rem;
  gap: 13rem;
}
.home-info {
  max-width: 50%;
  flex: 0 0 60%;
}
h1.hello {
  font-family: "poppins", serif;
  font-weight: 500;
  font-size: 1.8rem;
  animation: slideleft 6s ease forwards;
  animation-delay: 0.4s;
}
h1.hello span {
  /* font-family: "pacifico", serif; */
  color: var(--pri-color);
  font-weight: 800;
}
h1.my-proffession {
  font-family: "poppins", serif;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
h1.my-proffession span {
  font-family: "poppins", serif;
  color: var(--pri-color);
  font-size: 1.9rem;
  font-weight: 800;
  animation: slideleft 6s ease forwards;
  animation-delay: 0.4s;
}
.home-info h3 {
  font-family: "poppins", serif;
  font-weight: 400;
  font-family: 1.9rem;
  margin-bottom: 3rem;
}
.socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--pri-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--pri-color);
  margin: 10px 15px 20px 0;
}
.socials a:hover {
  background: var(--pri-color);
  color: var(--bg-color);
  box-shadow: 0 0 15px #779fed, 0 0 15px #779fed;
}
.hire-me {
  display: block;
  width: 30%;
  background: var(--pri-color);
  padding: 8px 10px;
  border-radius: 40px;
  font-size: 1.4rem;
  border: 2px solid var(--pri-color);
  color: var(--text-color);
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}

.hire-me:hover {
  border: 2px solid var(--sec-color);
  box-shadow: 0 0 1px #850753, 0 0 1px #850753;
  transform: scale(1, 1);
  transition: 0.4s ease-in-out;
  color: var(--text-color);
  background: var(--sec-color);
}

/*barz button*/
.bars button {
  max-width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 10px;
  color: inherit;
  background-color: transparent;
}
.bars {
  display: none;
}
.fa-bars {
  font-size: 29px;
  color: #fff;
}

/*About me*/
/* .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;
} */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  background-color: #fff;
  color: #000;
  padding: 5%;
  font-family: "poppins", sans-serif;
}
.about-img {
  width: 42rem;
  height: 65vh;
  flex: 0 0 40%;
  padding: 1px;
  margin-top: 5rem;
}
.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 15px gray, 0 0 15px gray;

  /* border: 1px solid var(--text-color); */
  /* outline: 1px solid var(--main-color); */
}
#about-img {
  flex: 0 0 40%;
  margin-top: 10%;
  margin-left: 10%;
}
.about-text h2 {
  font-size: 4rem;
  margin-top: 4rem;
}
.about-text h2 span {
  color: var(--pri-color);
  font-family: "pacifico", serif;
}
.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  line-height: 1.7;
  margin: 15px 0 20px;
}
.about-text p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
/*services*/
#services {
  font-size: 20px;
  margin-bottom: 4rem;
  line-height: 1.4;
}
.sub-title {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 20px;
  font-size: 4rem;
}
.sub-title span {
  color: var(--pri-color);
  font-family: "poppins", serif;
  font-size: 4rem;
}

.containers {
  padding: 90px;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 20px;
  transition: background 0, 5s, transform 0.5s;
  box-shadow: 1px 1px 3px #779fed;
}
.services-list div i {
  font-size: 30px;
  color: #779fed;
  margin-bottom: 20px;
}
.services-list div h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  color: var(--text-color);
  margin-top: 20px;
  display: inline-block;
  font-size: 12px;
}
.read {
  display: inline-block;
  padding: 12px 20px;
  background-color: #779fed;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  opacity: 1;
  border-radius: 10px;
}
.read:hover {
  background-color: var(--pri-color);
  box-shadow: 1px 1px 1px var(--pri-color);
}
.services-list div:hover {
  transform: translateY(-20px);
}

/*my skils*/
#skil {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container1 {
  width: 40%;
  height: 500px;
  padding: 45px 10px;
  margin-left: 10px;
}
.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 20px;
  font-size: 3rem;
}
.bar {
  font-size: 23px;
}

.Technical-bars .bar {
  margin-top: 40px 0;
  padding: 1rem;
}
.Technical-bars.bar:first-child {
  margin-top: 5px;
}
.Technical-bars.bar:last-child {
  margin-bottom: 5px;
}
.Technical-bars.bar.info {
  margin-bottom: 5px;
}
.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  /* animation: slideleft 0.3s 1s linear forwards;
  opacity: 0; */
}
.progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #779eed34;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-line span {
  height: 100%;
  opacity: 1;
  background-color: #759be6;
  position: absolute;
  border-radius: 10px;
  width: 80%;
  animation: animate 1s 1s cubic-bezier(0, 0, 1, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
  font-size: 10px;
  font-weight: 700;
}
.progress-line.html span {
  width: 95%;
}
.progress-line.css span {
  width: 90%;
}
.progress-line.github span {
  width: 85%;
}
.progress-line.Javascript span {
  width: 80%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-color: #c05a97;
  right: 0;
  top: -10px;
}
.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -35px;

  padding: 1px 3px;
  border-radius: 8px;
}
.progress-line.html span::after {
  content: "95%";
}
.progress-line.css span::after {
  content: "85%";
}
.progress-line.github span::after {
  content: "75%";
}
.progress-line.Javascript span::after {
  content: "80%";
}
/*portfolio*/
.main-text {
  padding-top: 50px;
  margin-top: 50px;
}
.main-text h1 {
  font-size: 60px;
  line-height: 1;
  text-align: center;
  margin-bottom: 50px;
}
.main-text h1 span {
  color: var(--pri-color);
}
.portfolio-content {
  display: grid;
  margin: 1rem;
  gap: 2rem;

  grid-template-columns: repeat(2, 1fr);
}
.rowz {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.rowz img {
  width: 100%;

  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(#779eed6c, #ffffff77);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h5 {
  color: var(--bg-color);
  background-color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p {
  font-size: 1.5rem;
  background-color: #fff;
  line-height: 1;
  color: var(--bg-color);
  font-weight: 600;
  padding: 5rem;
}
.layer i {
  margin-top: 20px;
  font-size: 20px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.rowz:hover img {
  transform: scale(1, 1);
}
.rowz:hover .layer {
  height: 100%;
}

/* contact us */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  margin-top: 120px;
  padding: 2rem;
}
.contact-text {
  font-size: 40px;
  line-height: 1;
  text-align: center;
}
.contact-text h1 span {
  font-family: "pacifico", serif;
  color: var(--pri-color);
}
.contact-text h4 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
}
.contact-text p {
  color: #fff;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
}
.contact-list {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.contact-list li {
  list-style-type: none;
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}
.contact-list i {
  display: inline-block;
  color: var(--pri-color);
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--pri-color);
}
.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid var(--pri-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--pri-color);
  margin: 10px;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideleft 5s ease forwards;
  animation-delay: calc(0.2s * var(--sec-color));
}
.contact-icons i:hover {
  background-color: var(--pri-color);
  color: #000;
  box-shadow: 0 0 20px #779fed;
}
.contact-form {
  position: relative;
}
.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 10px;
  background-color: #c9d9f8fb;
  color: #000;
  font-size: 17px;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea {
  resize: none;
  height: 220px;
}
.contact-form form .send {
  display: inline-block;
  padding: 12px 40px;
  background-color: #032055d5;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  opacity: 1;
  border-radius: 10px;
}
.contact-form form .send:hover {
  background-color: var(--pri-color);
}

/*last text */
.last-text p {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
  color: #00000e;
  font-weight: 600;
}
.tap {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}
.tap i {
  color: #000;
  background-color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.9rem;
}
@keyframes slideleft {
  0% {
    transform: scaleX(-100px);
    opacity: 0;
  }
  100% {
    transform: scaleX(0px);
    opacity: 1;
  }
}
@media (max-width: 850px) {
  .bars {
    display: flex;
    margin-left: 30rem;
  }
  nav {
    position: absolute;
    top: 1px;
    left: 0;
    margin: 0;
    display: flex;
    background-color: #fffffff9;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    height: 1024px;
    /* display: none; */
    z-index: 99;
    padding: 20px;
    display: none;
  }
  .nav-bar a {
    color: #00000e;
    padding-bottom: 1rem;
    font-size: 2.1rem;
    font-weight: 600;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    font-family: inherit;
  }
  nav.show {
    display: flex;
    width: 30%;
  }
  .nav-bar a:hover {
    transition: 0.5s ease-in-out;
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
  }
  /*section*/
  .home {
    flex-direction: column-reverse;
  }
  .logo ::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 50px;
    background-color: var(--pri-color);
    top: 60px;
    left: 5px;
  }
  .logo ::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 20px;
    background-color: var(--pri-color);
    top: 60px;
    left: 5px;
    margin-top: 5px;
  }

  .row {
    flex-direction: column-reverse;
    height: auto;

    margin: 1rem;
    gap: 3rem;
  }
  .home-info {
    max-width: 100%;
  }
  .home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 45rem;
    min-height: 25vh;
    flex: 0 0 40%;
    padding: 1px;
  }
  .home-img img {
    max-width: 80%;
    height: 50%;
    object-fit: cover;
    border-radius: 5%;
  }
  .hire-me {
    width: 40%;
    margin-top: 3rem;
  }
  /*about*/
  .about {
    display: flex;
    flex-direction: column-reverse;
    padding: 4rem;
  }
  .about-img {
    max-width: 35rem;
    max-height: 65vh;
    flex: 0 0 40%;
    padding: 1px;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-img img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;

    box-shadow: 0 0 25px var(--pri-color), 0 0 25px var(--main-color),
      0 0 95px var(--pri-color);
    border: 5px solid var(--text-color);
    outline: 3px solid var(--main-color);
  }
  #about-img {
    flex: 0 0 40%;
    margin-top: 5%;
  }
  .layer h5 {
    font-size: 10px;
    padding: 1rem;
    margin-bottom: 0px;
  }
  .layer p {
    font-size: 9px;
    padding: 1rem;
  }
  .layer i {
    margin-top: 3px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  .contact-form {
    margin-left: 3rem;
  }
  .contact-form form input,
  form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    background-color: #c9d9f8fb;
    color: #000;
    font-size: 13px;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }
  #skil {
    display: flex;
    flex-direction: column;
  }
  .container1 {
    width: 70%;
    height: 500px;
    padding: 25px 10px;
    margin-left: 10px;
  }
}
@media (max-width: 600px) {
  .logo ::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 50px;
    background-color: var(--pri-color);
    top: 75px;
    left: 5px;
  }
  .logo ::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 20px;
    background-color: var(--pri-color);
    top: 75px;
    left: 5px;
    margin-top: 5px;
  }
}
@media (max-width: 450px) {
  .bars {
    display: flex;
    margin-right: 10rem;
    margin-left: 26rem;
  }
  .logo {
    font-size: 20px;
    flex-wrap: nowrap;
  }

  .logo ::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 50px;
    background-color: var(--pri-color);
    top: 75px;
    left: 5px;
  }
  .logo ::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 20px;
    background-color: var(--pri-color);
    top: 75px;
    left: 5px;
    margin-top: 5px;
  }
  h1 {
    font-size: 20px;
  }
  .header {
    padding: 1rem 2rem;
  }
  .portfolio-content {
    display: flex;
    margin: 1rem;
    gap: 2rem;
    flex-direction: column;
  }

  .layer h5 {
    font-size: 5px;
  }
  .layer p {
    font-size: 5px;
  }
}
@media (max-width: 390px) {
  .bars {
    display: flex;
    margin-left: 24rem;
  }
}
@media (max-width: 360px) {
  .bars {
    display: flex;
    margin-left: 20rem;
  }
}
